/*# sourceMappingURL=style.css.map */
/*inicio*/
body{
    background-color: rgb(242, 248, 246);
    }

header {
    display: grid;
    background-color: #5ebdb3;
    grid-column: 1/2;
    grid-row: 1/2;

}
.logo-animado {
    animation: burbuja 2.5s ease-in-out infinite;
}

@keyframes burbuja {
    0% { transform: translateY(0) scale(1); }
    50% { transform: translateY(-18px) scale(1.05); }
    100% { transform: translateY(0) scale(1); }
}
/*botones de navegacion */
body ul {
  display: flex;              /* Los pone en fila */
  gap: 20px;                  /* Espacio entre botones */
  list-style: none;
  padding: 0;
  margin: 0;
}

header ul li {
  background-color: white;  /* o el color que quieras */
  padding: 10px 20px;         /* tamaño del botón */
  border-radius: 10px;
}

header ul li a {
  text-decoration: none;
  color: white;               /* color del texto */
  font-size: 18px;
}
/*aca termina*/


header a img {
    display: flex;
}
h1{
    grid-column: 2/3;
}
nav ul li a {
    display: flex;
    /*
    justify-content: center;*/
    border: 25px;
    color:#5ebdb3;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 10vh;
    /*position: sticky;
    top: 0;*/
}

header ul li {
    display: flex;
    gap: 25px;
    padding: 0px;
    border: 1px solid white;
    border-radius: 8px;
}

header h1 {
    color:#b21a0f;
}
/*imagenes y textos de producto*/
.section-row {
  display: flex;
  align-items: center;      /* Centra verticalmente */
  gap: 20px;                /* Espacio entre imagen y texto */
  margin: 20px 0;
}

.section-row img {
  width: 250px;             /* Ajustá el tamaño a gusto */
  height: auto;
  border-radius: 10px;      /* opcional */
}

.section-row p,
.section-row ul {
  flex: 1;                  /* Ocupa el espacio restante */
}

/*tamaño*/


/*footer ul li {
    display: flex;
}/*

/*main trabja en la informacion*/
main{
    background-color:#5ebdb3;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
} 
.cont-main {
    display: flex;
    flex-flow: column wrap;
    height: 5vh;
}

iframe {
    width: 30vw;
}

input {
    height: 6vh;
    color: rgb(251, 243, 243);
}
footer{
    background-color:black;
    
}

/* adaptacion para telefonos y tablet */
/*tablet*/
@media (min-width: 431px) and (max-width: 800px) {}

/*celular*/
@media (min-width: 320px) and (max-width: 430px) {}
